@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --bold: 500;
  --h-font: font-family: 'Roboto', sans-serif;
}

html:not(.menu) {
  font-size: calc(15px + 0.390625vw);
  // -webkit-font-smoothing: antialiased;
}

/* grid container */
.wrapper {
  display: grid;
  grid-template-areas:
    'left-sidebar'
    'main-content'
}

/* general column padding */
.wrapper>* {
  // padding: var(--s-1);
  padding: calc(8px + 1.5625vw);
}

.wrapper>.left-sidebar {
  grid-area: left-sidebar;
  /* background:#f5d55f; */
}

.wrapper>.main-content {
  grid-area: main-content;
  /* background:#f97171; */
}

/* tablet breakpoint */
@media (min-width:768px) {
  .wrapper {
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas:
      'left-sidebar main-content';
  }
}



*,
:after,
:before {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  line-height: 1.4em;
  font-family: 'Helvetica Neue',
    'Arial Nova',
    Helvetica,
    Arial,
    sans-serif;
  /* font-family: 'Roboto Mono', monospace; */

  /* font-family: Menlo, Courier, Courier New, Andale Mono, monospace; */
  /* font-size: 16px; */
}

// .sidebar,
// .main-content {
//     padding: var(--s3);
// }


header:first-child {
  font-weight: 500;
  font-size: 1.8rem;
}

.menu {
  /* font-size: 19px; */
  font-size: calc(15px + 0.390625vw);
  letter-spacing: 0.01rem;
  // display: block;
}


ul {
  list-style: none;
}

li:first-child {
  margin-top: var(--s3);
  margin-bottom: var(--s0);

}

li:nth-child(2) {
  margin-bottom: var(--s0);
}

li:nth-child(4) {
  margin: var(--s-3) var(--s0) var(--s0) var(--s0);
}


li:nth-child(10) {
  margin-top: var(--s0);
}

li:nth-child(6),
li:nth-child(7),
li:nth-child(8),
li:nth-child(9) {
  margin: var(--s-3) var(--s0);
}

a:link {
  text-decoration: none;
  /* text-underline-offset: 6px;
    text-decoration-thickness: 1px; */
  color: blue;
  margin-top: 0;
  height: var(--s0);
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.main-content {
  font-size: 19px;
  border-left: solid 0.5px black;
}

.main-content>* {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
  /* max-width: 640px; */
}

.main-content>*+*+* {
  margin-top: var(--s1);
}

.main-content p+p {
  margin-top: var(--s-1);
}

.wrapper .sidebar.wrapped {
  background-color: aqua;
}

/* h1,
h2,
h3,
h4 {
    font-family: Helvetica, Arial, sans-serif;
} */

/* .menu a {
    font-weight: 500;
    letter-spacing: 0.03rem;
} */

h1 {
  font-weight: 500;
  // font-size: 1.8rem;
  font-size: 37px;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
}

h3 {
  // font-weight: 400;
  // font-size: 19px;
  // height: 16px;
  // color: blue;

  font-weight: 400;
  font-size: 17px;
  height: 16px;
  // font-style: italic;
  color: #000000b8;
}

// h3::before{
//   content: "#";
// }


// ............burger

.page-title {
  font-weight: 400;
  font-size: 35px;
}

.hamburger {
  display: none;
  cursor: pointer;
  height: 0;
}


.bar {
  display: block;
  width: 5.5px;
  height: 28px;
  /* transform: skew(-20deg); */
  /* margin: auto 8px; */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: black;
}


.bar:nth-child(1) {
  transform: translate(-10px, -14px) skew(-30deg);
  background-color: blue;

}

.bar:nth-child(2) {
  transform: translate(-22px, -42px) skew(-30deg);
}

.bar:nth-child(3) {
  background-color: blue;
  transform: translate(-34px, -70px) skew(-30deg);
}

.hamburger.inactive .bar:nth-child(1) {
  transform: translate(-15px, -6px) rotate(90deg);
  height: 35px;
}

.hamburger.inactive .bar:nth-child(2) {
  transform: translate(-15px, -52px) rotate(90deg);
  height: 35px;
}

.hamburger.inactive .bar:nth-child(3) {
  transform: translate(-15px, -98px) rotate(90deg);
  height: 35px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ........burger

.lokop-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 19%;
}

.photo-credit {
  margin-top: 0px;
}

.centered-text {
  text-align: center;
  font-style: normal;
}

.video-container,
.non-top-margin {
  margin-top: var(--s-2);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  filter: grayscale(100%);
}

.plyr__poster {
  background-size: cover;
}

// .plyr__control--overlaid {
//   background: blue;
// }


@media screen and (max-width: 768px) {
  .lokop-logo {
    padding: 5px;
    max-width: 29%;
  }

  .index-img {
    content: url("/assets/images/texture-surface-rotated.jpeg");
  }

  .menu.show {
    font-size: 25px;
    letter-spacing: 0.01rem;
    height: auto;
    opacity: 1;
    transition: opacity 0.9s ease-out;
  }

  .menu {
    transition: opacity 0.9s ease-out;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    height: 0;
  }

  // .left-sidebar {
  //   padding: calc(8px + 1.5625vw) calc(8px + 1.5625vw) 0 calc(8px + 1.5625vw);
  // }

  .main-content {
    padding: 0 calc(8px + 1.5625vw) calc(8px + 1.5625vw) calc(8px + 1.5625vw);
  }

  .main-content.hidden {
    visibility: hidden;
  }

  .plyr.plyr--stopped .plyr__controls {
    display: none
  }
}

:root {
  // --plyr-color-main: rgba(0, 0, 255, 0.637);
  // --plyr-color-main: rgba(255, 255, 0, 0.5);
  --plyr-color-main: grey;

  --plyr-control-icon-size: 22px;

}

blockquote {
  font-weight: 500;
}